services:
  # react-weaver.preview:
  #   image: react-weaver-server:latest
  #   restart: always
  #   ports:
  #     - 127.0.0.1:3000:8080
  #   environment:
  #     - CONNECTION_STRING=Host=react-weaver.db;Port=5432;Database=react-weaver;Username=postgres;Password=postgres
  #     - OTEL_EXPORTER_OTLP_ENDPOINT=http://react-weaver.aspire-dashboard:18889
  #     - OTEL_EXPORTER_OTLP_PROTOCOL=grpc
  #   depends_on:
  #     - react-weaver.db
  #   volumes:
  #     - ./ReactWeaver.Server/keys/storage:/app/keys/storage

  react-weaver.db:
    image: postgres:18.1
    restart: always
    user: postgres
    volumes:
      - react-weaver.db-data:/var/lib/postgresql
    environment:
      - POSTGRES_PASSWORD=postgres
    ports:
      - 5432:5432
    expose:
      - 5432
    healthcheck:
      test: ["CMD", "pg_isready"]
      interval: 10s
      timeout: 5s
      retries: 5

  react-weaver.aspire-dashboard:
    image: mcr.microsoft.com/dotnet/aspire-dashboard:9.3
    environment:
      DOTNET_DASHBOARD_UNSECURED_ALLOW_ANONYMOUS: true
    ports:
      - 18888:18888

volumes:
  react-weaver.db-data:
